.preview-container {
  width: 300px;
  overflow: hidden;
  margin: auto;
  box-shadow: 1px 2px 7px 1px #909090;
  -webkit-box-shadow: 1px 2px 7px 1px #909090;
}
.preview {
    /* Make image previews same aspect ratio */
    height: 200px;
    width: auto;
  }

#city-map {
  /*Leaflet JS map element */
  height: 500px;
}